
.landed, .closed {
    background-color: #00ee00;
}

.pending, .mine {
    background-color: #eeee00;
}

.author {
    color: blue;
}

.entry-details {
    display: none;
}

#checkins {
    position: relative;
}

#checkin-table-wrap {
    width: 100%;
    overflow: auto;
}

#progress {
    float: right;
}

#checkin-table {
    border-collapse: collapse;
}

#checkin-table td a {
    padding: 0px;
    border: 1px solid #fff;
    cursor: pointer;
}

#checkin-table td a {
    display: block;
}

#checkin-table .mine a {
    border: 1px solid #333;
}



#checkin-table a {
    min-width: 10px;
}

#feed-entries td:hover a {
    border: 1px solid #00e;
}

#chrome-status td {
    text-align: right;
}

#entry-details {
    height: 150px;
    overflow: auto;
    background-color: #ddd;
}

div.entry-details {
    white-space: pre-wrap;
}
